<% if @comment.errors.any? %>
  <ul class="errors">
    <% @comment.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>


<%= form_tag deal_comments_url(@deal) do %>
  <div>
    <label for="comment">Comment:</label>
    <input size="80" name="comment" id="comment">
  </div>

  <input type="submit" name="commit" value="Add Comment">

<% end %>